#list-projects
=forSmallScreens($media)
    @media (max-width: $media/16+em)
        @content

.home-content-row
    display: flex
    margin-bottom: 20px
    justify-content: space-between
    padding: 0 2em
    +forSmallScreens(640)
        display: block
.list-group
  margin-bottom: 0
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  width: 95%
  margin: 0 auto