@import url(https://fonts.googleapis.com/icon?family=Rambla:400,700|Source+Sans+Pro:200,400)
@import "../common"
=forSmallScreens($media)
  @media (max-width: $media/16+em)
    @content

//#_project-view

img
  max-width: 100%



.list-group-item
    display: block
    border: 0
    font-size: 0.7rem
    background: #efefef
    width: 30%
    background-color: #FFFFFF
    border: 1px solid #E4E7EA
    //cursor: pointer
    border-radius: 0px

    transition: box-shadow .3s
    //padding: 1.1875rem 1.875rem
    margin-bottom: 2rem
    box-shadow: border-box
    +forSmallScreens(640)
        width: 100%
        padding: 1em 0
    &:hover
        box-shadow: 0px 0px 25px 1px #777
    .stage-icon
        margin: 25px 0 35px
        width: 100%
        padding-bottom: 1em
        text-align: center
        border-bottom: 1px solid #DBDDE0!important
        font-size: 0.6rem
        font-family: "Play"
    span
        margin-left: 1em
    
    a:hover
        text-decoration: none
    a
        display: block
        text-decoration: none

        .list-project-header
            display: flex
            border-bottom: 1px solid #efefef
            height: 50px
            h4
                margin: 0
                font-family: 'Lato', sans-serif
                font-weight: 700
                font-size: 1rem
                flex-basis: 70%
                height: 100%
                padding-left: 1.25rem
                display: flex
                align-items: center
                border-right: 1px solid #efefef
                
        
                border-left: 3px solid #8D97A4
            .status-completed, .status-inprogress
                flex-basis: 30%
                // display: flex
                display: flex
                align-items: center
                justify-content: center
                .status-completed-label, .status-inprogress-label
                    padding: 0.3rem
                    border: 1px solid #2ECC71
                    border-radius: 5px
                    font-weight: 700
                    text-transform: uppercase
                    color: #2ECC71
                .status-inprogress-label
                    color: #FC5A5A
                    border: 1px solid #FC5A5A
                // padding: 1.25rem 1.25rem 1.25rem 0 
        .image        
            padding: 1.25rem

               


.labels-container
  display: flex

.tech-label
  display: block
  margin-bottom: 5px

.labels
  width: 50%
  color: #fff!important
  font-family: 'Lato', sans-serif
  margin-bottom: 20px

.rank-label, .label-rank-number, .tech-name, .label-version
  display: inline-block
  padding: .1em .5em

.rank-label
  background-color: #555!important

.label-rank-number
  background-color: #2ecc71!important

.list-group-item a
  color: #555

.labels + .labels
  border-left: 1px solid #DBDDE0!important

.description
  margin-top: 10px
  padding: 10px
  background: #fff!important
  text-align: justify
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 400
  font-size: 16px
  text-align: center

.update-date
  margin-top: 10px
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 400

.labels > span > span:nth-of-type(odd)
  border-radius: 0
  background: #555!important

.labels > span > span:nth-of-type(even)
  margin-right: 3px
  border-radius: 0

.label-ranking,
.label-downloads
  background: #2ecc71!important

.label-os
  background: #AA22FF!important

.label-version
  background: #2196F3!important

.label-license
  background: #3a33d1!important

.label-language
  background: #8BC34A!important

.label-framework
  background: #FF9800!important

.label-library
  background: #2196F3!important

.label-database
  background: #F44336!important
