@import url(https://fonts.googleapis.com/icon?family=Rambla:400,700|Source+Sans+Pro:200,400)
@import "../common"
=forSmallScreens($media)
  @media (max-width: $media/16+em)
    @content

//#_project-view

img
  max-width: 100%

a
  display: block
  text-decoration: none

.list-group-item
  display: block
  border: 0
  font-size: 0.7rem
  background: #efefef
  width: 30%
  text-align: center
  background-color: #FFFFFF
  border: 1px solid #E4E7EA
  cursor: pointer
  border-radius: 5px
  transition: box-shadow .3s
  padding: 2em
  margin-bottom: 2rem
  box-shadow: border-box
  +forSmallScreens(640)
    width: 100%
    padding: 1em 0
  &:hover
    box-shadow: 0px 0px 25px 1px #777

.stage-icon
  // display: inline-block
  margin: 25px 0 35px
  width: 100%
  padding-bottom: 1em
  text-align: center
  border-bottom: 1px solid #DBDDE0!important
  font-size: 0.6rem
  font-family: "Play"
  span
    margin-left: 1em
// .list-group-item:not(:last-child)
  // margin-bottom: 10px

a > h4
  margin-top: 0
  margin-bottom: 27px
  font-family: 'Play', sans-serif
  // font-family: "Lato", sans-serif
  font-weight: 300
  font-size: 1.3rem
  // display: inline-block
  text-align: center
  padding-bottom: 5px
  border-bottom: 1px solid #A6A6A6!important

.labels-container
  display: flex

.tech-label
  display: block
  margin-bottom: 5px

.labels
  width: 50%
  color: #fff!important
  font-family: 'Lato', sans-serif
  margin-bottom: 20px

.rank-label, .label-rank-number, .tech-name, .label-version
  display: inline-block
  padding: .1em .5em

.rank-label
  background-color: #555!important

.label-rank-number
  background-color: #2ecc71!important

.list-group-item a
  color: #555

.labels + .labels
  border-left: 1px solid #DBDDE0!important

.description
  margin-top: 10px
  padding: 10px
  background: #fff!important
  text-align: justify
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 400
  font-size: 16px
  text-align: center

.update-date
  margin-top: 10px
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 400

.labels > span > span:nth-of-type(odd)
  border-radius: 0
  background: #555!important

.labels > span > span:nth-of-type(even)
  margin-right: 3px
  border-radius: 0

.label-ranking,
.label-downloads
  background: #2ecc71!important

.label-os
  background: #AA22FF!important

.label-version
  background: #2196F3!important

.label-license
  background: #3a33d1!important

.label-language
  background: #8BC34A!important

.label-framework
  background: #FF9800!important

.label-library
  background: #2196F3!important

.label-database
  background: #F44336!important
