@import url(https://fonts.googleapis.com/icon?family=Rambla:400,700|Source+Sans+Pro:200,400)
@import "../common"
=forSmallScreens($media)
  @media (max-width: $media/16+em)
    @content

.list-group-item img
  max-width: 100%
  max-height: 100px
.list-group-item:hover
    box-shadow: 0px 1px 30px -6px #777

.list-group-item
    display: block
    border: 0
    font-size: 0.7rem
    background: #efefef
    background-color: #FFFFFF
    border-radius: 0px

    transition: box-shadow .3s
    box-shadow: border-box
    box-shadow: 0px 1px 15px -6px #777

    +forSmallScreens(640)
        width: 100%
        padding: 1em 0

    .stage-icon
        margin: 25px 0 35px
        width: 100%
        padding-bottom: 1em
        text-align: center
        border-bottom: 1px solid #DBDDE0!important
        font-size: 0.6rem
        font-family: "Play"


    a:hover
        text-decoration: none
    a
        display: block
        text-decoration: none
        height: 100%
        .list-project-header
            display: flex
            border-bottom: 1px solid #efefef
            height: 50px
            h4
                margin: 0
                font-family: 'Lato', sans-serif
                font-weight: 700
                font-size: 1rem
                flex-basis: 70%
                height: 100%
                color: #8D97A4
                padding-left: 1.25rem
                display: flex
                align-items: center
                border-left: 3px solid #8D97A4
            .status-completed, .status-inprogress, .status-estimation
                flex-basis: 30%
                display: flex
                align-items: center
                justify-content: center
                .status-completed-label, 
                .status-inprogress-label,
                .status-estimation-label,
                    padding: 0.3rem
                    border: 1px solid #2ECC71
                    border-radius: 5px
                    font-weight: 700
                    text-transform: uppercase
                    color: #2ECC71
                .status-inprogress-label
                    color: #FC5A5A
                    border: 1px solid #FC5A5A
                .status-estimation-label
                    color: #e67e22
                    border: 1px solid #e67e22
        .image

            text-align: center
            margin: 1.25rem
        .description-t
            position: relative
            text-align: center
            font-size: 0.8rem
            color: #A4A4A4
            line-height: 1.2rem
            overflow: hidden
            margin: 1.25rem
            display: -webkit-box
            -webkit-line-clamp: 3
            -webkit-box-orient: vertical
            overflow: hidden
            text-overflow: ellipsis

        .ranking-row
            display: flex
            padding: 0 1.25rem
            padding-right: 0
            height: 56px
            align-items: center
            border-top: 1px solid #efefef
            .rating
                display: flex
                align-items: center
                height: 100%
                border-right: 1px solid #efefef
                padding-right: 0.5rem
                flex-basis: 70%
                .name
                    font-weight: 700
                    color: #8D97A4
                    margin-right: 1rem
                .ranking-list
                    list-style: none
                    padding: 0
                    vertical-align: middle
                    li
                        width: 7px;
                        height: 7px;
                        margin-right: 0.4rem
                        border-radius: 50%
                        border: 1px solid #c9c9c9
                        display: inline-block
                    li.ranked
                        background-color: #f1c40f
                        border: none

            .technoligies
                display: flex
                align-items: center
                height: 100%
                flex-basis: 30%
                justify-content: center
                position: relative
                color: #8D97A4

                .name
                    font-weight: 700
                    vertical-align: middle
                    color: #8D97A4
                    margin-left: .2rem

                .tech-list
                    position: absolute
                    background-color: #495158
                    padding: 0
                    display: flex
                    top: 55px;
                    left: -120px;
                    flex-flow: row wrap;
                    width: 210px
                    border-radius: 5px
                    padding: 1rem
                    justify-content: flex-start
                    display: none
                    cursor: initial;

                    li
                        background-color: #737C85
                        color: #fff
                        margin-right: 0.5rem
                        margin-bottom: 0.5rem
                        font-weight: 700
                        border-radius: 10px
                        text-align: center

                .tech-list:after
                    bottom: 100%
                    left: 75%
                    border: solid transparent
                    content: " "
                    height: 0
                    width: 0
                    position: absolute
                    pointer-events: none
                    border-color: rgba(73, 81, 88, 0)
                    border-bottom-color: #495158
                    border-width: 10px
                    margin-left: -10px

            .technoligies:hover .tech-list
                display: flex


.labels-container
  display: flex

.tech-label
  display: block
  margin-bottom: 5px

.labels
  width: 50%
  color: #fff!important
  font-family: 'Lato', sans-serif
  margin-bottom: 20px

.rank-label, .label-rank-number, .tech-name, .label-version
  display: inline-block
  padding: .1em .5em

.rank-label
  background-color: #555!important

.label-rank-number
  background-color: #2ecc71!important

.list-group-item a
  color: #555

.labels + .labels
  border-left: 1px solid #DBDDE0!important

.description
  margin-top: 10px
  padding: 10px
  background: #fff!important
  text-align: justify
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 400
  font-size: 16px
  text-align: center

.update-date
  margin-top: 10px
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 400

.labels > span > span:nth-of-type(odd)
  border-radius: 0
  background: #555!important

.labels > span > span:nth-of-type(even)
  margin-right: 3px
  border-radius: 0

.label-ranking,
.label-downloads
  background: #2ecc71!important

.label-os
  background: #AA22FF!important

.label-version
  background: #2196F3!important

.label-license
  background: #3a33d1!important

.label-language
  background: #8BC34A!important

.label-framework
  background: #FF9800!important

.label-library
  background: #2196F3!important

.label-database
  background: #F44336!important
