@import url(https://fonts.googleapis.com/icon?family=Material+Icons|Rajdhani:300,400)
@import "../common.sass"

=forSmallScreens($media)
    @media (max-width: $media/16+em)
        @content

.home-content-row
    display: flex
    margin-bottom: 20px
    +forSmallScreens(640)
        display: block

#project-search
      width: 50%
      color: #8D97A4
      font-family: "Lato", sans-serif
      font-size: 1.5em
      font-weight: 300
      padding: 70px 0 0px 0
      box-sizing: border-box
#project-search .search-wrapper
    border-bottom: 1px solid #D5D7DA
    padding-bottom: 10px
    .input-search
        border: none
        background-color: transparent
        vertical-align: middle
        padding-left: 0.7em
        color: #8D97A4
        width: 80%
        &:focus
            outline: none


#display-flex
    width: 50%
    display: flex
    justify-content: flex-end
    padding: 70px 0 0px 0
    .sort
        font-family: "Lato", sans-serif
        margin-bottom: 20px
        input[type=radio]:checked + label
            background: #2ecc71
        .search-order-tooltip
            font-weight: 400
            font-size: 1.2em
            margin-right: 13px
            color: #505E6B
        label
            display: inline-block
            padding: 0.5em
            cursor: pointer
            background-color: #505E6B
            margin: 0
            color: #fff
            border-left: 1px solid #f9f9f9
            transition: background .3s

            &:hover
              background-color: #627484
        div
            display: block
            &:first-of-type label
              border-radius: 5px 0 0 5px
            &:last-child label
              border-radius: 0 5px 5px 0
        .filter
          font-family: "Lato", sans-serif
          display: inline-block
          vertical-align: top

          .filter-tooltip
            font-weight: 300
            font-size: 1em
            margin-right: 7px
            color: #8D97A4
            text-transform: uppercase
          label
            cursor: pointer
            padding: 0.5em
            background-color: #505E6B
            background:#95a5a6
            margin: 0
            color: #fff
            border-left: 1px solid #f9f9f9
            transition: background .3s
            border-radius: 5px

            &:hover
              background-color: #627484
          & input[type=checkbox]:checked + label
             background: #2ecc71


#display-flex ul
    list-style: none
#display-flex .filter label
    cursor: pointer
    padding: 0.5em
    background-color: #505E6B
    background:#95a5a6
    margin: 0
    color: #fff
    border-left: 1px solid #f9f9f9
    transition: background .3s
    border-radius: 5px
    &:hover
        background-color: #627484
#display-flex .filter input[type=checkbox]:checked + label
    background: #2ecc71





input[type="radio"],
input[type="checkbox"]
  display: none

