@import "../common/styles/common";
@import url(//fonts.googleapis.com/css?family=Russo+One)
@import url(//fonts.googleapis.com/css?family=Play)

$tomatoColor: #F97E76
$lightCadetBlueColor: #C1CFD9
$toolBarColor: #EFEFEF
$listItemColor: #FAFDFE
$mainTextColor: #3C3C3C
$activeBlue: #337ab7



.screenshots > div
    margin: 0 auto

.features-list-header > th
    color: black !important
    font-size: 15px !important

.feature-item-column-center
    width: 120px
    text-align: center !important

    .feature-notChecked > *
        color: tomato

    .feature-checked > *
        color: green   

#project-view-content
    font-size: 0.7em
    background-color: #f3f6f8

    ::-webkit-scrollbar
        width: 3px

    ::-webkit-scrollbar-track
        background: rgba(0, 0, 0, 0.1)

    ::-webkit-scrollbar-thumb
        background: rgba(0, 0, 0, 0.5)

    .secondPart
        display: flex
        justify-content: center

        table
            font-size: 14px

    .project-view-navigation
        width: 100%
        padding: 25px 0px 25px 50px
        display: flex
        flex-direction: row
        justify-content: space-between

        div
            width: 170px
            display: flex
            color: #93A6AF
            font-size: 15px
            flex-direction: row
            align-items: center
            padding-bottom: 8px

            label
                margin-left: 8px
                font-family: "Open Sans"
                a
                    color:#93A6AF

            .redirect-to-list > *
                cursor: pointer
                color: #93A6AF

            &:hover 
                color: black   
                .redirect-to-list > *, a
                    color: #293541

    .projectMain
        display: flex
        flex-direction: row
        justify-content: center

        .project-view-firstPart
            display: flex
            flex-basis: 80%
            flex-direction: column
            align-items: flex-start

            .project-name
                display: flex
                font-size: 3em
                font-family: Play
                margin-bottom: 20px
                justify-content: center
                
            .project-description
                margin: 0px 20px  
                font-size: 14px
                text-indent: 20px
                width: calc(100% - 40px)
                font-family: "Open Sans"
                padding: 10px 0px 30px 0px 
                border-bottom: 1px solid #F0F0F3

            .project-tags
                width: 100%
                display: block
                margin-bottom: 30px

                span
                    color: white
                    font-size: 13px
                    padding: 5px 12px
                    font-family: Lato
                    border-radius: 4px
                    display: inline-block  
                    margin: 8px 4px 8px 0px
                    background-color: cadetBlue           


    .screenshots
        display: flex
        width: 100%
        flex-wrap: nowrap

        #Gallery
            display: flex
            justify-content: center
            flex-wrap: nowrap

            div
                img
                    width: 250px
                    height: 200px


    .technologies
        width: 100%
        display: flex
        flex-wrap: wrap
        margin: 25px 0px

        div
            margin: 13px 10px
            padding: 0px 10px
            display: flex
            height: 60px

            img 
                width: 60px
                height: 60px
                cursor: pointer

            div
                dislay: flex
                padding: 0px
                min-width: 140px
                align-items: center
                flex-direction: column
                justify-content: center
                margin: -4px 2px 2px 0px

                div:first-child
                    color: #555
                    font-size: 15px 
                        
                div:last-child
                    text-align: center

                    span
                        width: auto
                        border-top: 2px solid cadetBlue 
                        padding-top: 8px

                        span
                            color: white
                            font-size: 14px 
                            padding: 4px 10px
                            border: none
                            height: calc(100% - 8px)

                        span:first-child
                            background-color: #2ECC71

                        span:last-child
                            background-color: #2196F3


    .button-redirect-container
        text-align: center
        margin: 20px 


    span
        background-color: transparent //!important

    ul>li
        list-style-type: none

    .component
        margin: 20px auto
        font-size: 14pt


    .header
        font-family: 'Russo One'
        font-size: 1.5em
        color: $activeBlue

    .brief
        text-align: center
        color: $mainTextColor

    .row
        text-align: left

    .cell
        padding: 0 10px
        line-height: 40px

    .tab
        display: inline-block
        padding: 10px

    .tabpanels
        text-align: left
        font-size: 1em
        background-color: $lightCadetBlueColor

    .questionPanel
        background-color: $listItemColor
        font-size: .8em

    .questionHeader
        font-family: 'Russo One'
        color: $activeBlue

    .questions
        text-align: left
        color: $mainTextColor
        cursor: pointer

    .userName
        color: $tomatoColor
        &+p
            cursor: text

    .tdbut
        text-align: center

    .gallery
        width: 100%
        height: 300px
        overflow: auto
        margin: 0 auto
