@import "../common/styles/common";

.alert
    width: 700px
    padding: 20px
    border: 2px solid #fff
    margin: auto

    background: blue
    text-align: center
    color: #fff


.tab 
	display: inline-block
	padding: 10px

.alert
    width: 700px
    padding: 20px
    border: 2px solid #fff
    margin: auto

    background: $primary-color
    text-align: center
    color: #fff

.info
    width: 1000px
    height: auto
    padding: 20px
    border: 2px solid #fff
    margin: auto
    background: $primary-color
    text-align: center
    color: #9af66a
    font-size: 2em

.brief
    text-align: left
    color: #3f4a51

.tabpanels
    text-align: left
    font-size: 0.75em

.questions
    text-align: left
    color: #3f4a51
    font-size: 0.6em

.tdbut
    text-align: center
