@import "../common/styles/common"

.alert
    width: 700px
    padding: 20px
    border: 2px solid #fff
    margin: auto
    background: $primary-color
    text-align: center
    color: #fff

.statsPage
	margin: 0 auto
	text-align: center

.chart
	display: inline-block
	padding: 10px

.title
    background: #f4f4f4
    height: 10vh
    width: 90%
    margin: 5vh auto
    border-radius: 1vh
    line-height: 10vh

#usage
    width: 80%

h2, h3
    vertical-align: middle
    text-align: center

#nine
    width: 90%

#eight
    width: 80%

#inputFieldChartStatistic
    display: flex
    justify-content: space-around
.checkbox
    display: inline !important