@import "./common.sass";

.test
	margin: 20px
	padding: 10px

.generalBtn
	font-family: 'Lato', sans-serif
	margin: 5px
	padding: 5px 10px
	color: #fff
	cursor: pointer	
	border: none
	background-color: $primaryGrey
	&:hover
		background-color: rgba(98, 116, 132, 0.9);
	&:focus
		outline: 0
	

