@import  '~normalize.css';
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
// @import '../grid/grid';
html, body
  background: #fff !important
  height: 100%
  font-family: 'Lato', sans-serif
  font-size: 16px
  line-height: 1.2em

=forSmallScreens($media)
    @media (max-width: $media/16+em)
        @content

.main-container
    width: 100%

.mainRow
    background: #fff
    height: 100%
    display: flex
    +forSmallScreens(640)
       height: auto
       width: 100%
       display: block


body::-webkit-scrollbar
	width: 7px

body::-webkit-scrollbar-track
	background: rgba(0, 0, 0, 0.1)

body::-webkit-scrollbar-thumb
	background: rgba(0, 0, 0, 0.5)