@import  '~normalize.css';
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

html, body
  background: #fff !important
  height: 100%
  font-family: 'Lato', sans-serif
  font-size: 16px
  line-height: 1.2em



.container
  //padding: 20px
  width: 100%
  background: #fff  
  // border: 3px solid #000
  height: 100%
  display: flex
  // box-orient: horizontal;

body::-webkit-scrollbar
	width: 7px

body::-webkit-scrollbar-track
	background: rgba(0, 0, 0, 0.1)

body::-webkit-scrollbar-thumb
	background: rgba(0, 0, 0, 0.5)