@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700)

.text-select-input, .textareaInput
  background-color: #fff
  border: 1px solid #eeeeee
  border-radius: 1px
  box-sizing: border-box
  font-size: 1.5rem
  height: 3rem
  outline: none !important
  width: 80%
  padding: 0 1.5rem


.textareaInput
  height: 10rem
  min-height: 10rem
  max-height: 10rem
  padding-top: 5px

.form
  padding-top: 50px

.text
  font-family: "Open Sans"
  font-size: 16px
  color: #000

.featureComponent
  margin-top: 400px

.Tabs
  font-family: "Open Sans"
  font-size: 16px
  margin: 0 auto
  color: #000

.Tabs a
  font-family: "Open Sans"
  font-size: 16px
  margin: 0 auto
  color: #000

.btn
  margin-top: 20px
