@import url(//fonts.googleapis.com/css?family=Russo+One)
@import url(//fonts.googleapis.com/css?family=Play)
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@mixin border-radius($radius)
 -webkit-border-radius: $radius
 -moz-border-radius: $radius
  border-radius: $radius

@mixin box-shadow($left, $top, $blur, $color)
 -moz-box-shadow: $left $top $blur $color
 -webkit-box-shadow: $left $top $blur $color
 box-shadow: $left $top $blur $color

$border-bottom-color: #DFE0E3

.wrapper

  +border-radius(5px)
  font-family: 'Play'
  background: #F3F4F8
  width: 100%
  font-size: 16px
  margin: 0

  .link
    display: block
    text-decoration: none
    color: inherit
  .header
    background-color: #FBFBFD
    height: 70px
    border-bottom: 1px solid $border-bottom-color
    border-left: 4px solid #ee7954
  h1
    color: #C2C5CA
    width: 100%
    text-align: left
    margin: 0
    font-size: 1em
    font-family: 'Russo One'
    font-family: 'Lato', sans-serif;
    font-weight: 700
    padding: 1.5em
    background-color: #FBFBFD
    border-bottom: 1px solid $border-bottom-color
    border-left: 4px solid #ee7954

  .inputContainer
    padding: 2em 1.5em
    border-bottom: 1px solid $border-bottom-color
    input
      height: 45px
      width: 100%
      font-size: 1.1em
      padding: 0.9em
      margin: 0px 
    ::-webkit-input-placeholder
      color: $border-bottom-color
    ::-moz-placeholder
      color: $border-bottom-color

    .searchSign
      background: #FBC959
      border: 0
      color: #000
      width: 45px;
    
  .userList
    list-style: none
    padding: 0

    .listItem:nth-child(odd)
      background-color: #F1F2F6
    
    .listItem:nth-child(even)
      background-color: #ECECF1
    .listItem
      border-bottom: 1px solid $border-bottom-color
      display:flex
      font-size: 0.8em
      +box-shadow(2px, 2px, 2px, #bebebe)
      transition: all .3s ease-in-out
      padding: 1.5em
      &:hover
        cursor: pointer
        background:	#fff
        transform: scale(1.03)
      .userNamee, .userPosition, .ownerCheckBox, .userImage
        display: inline-flex
        vertical-align: middle
        width: 22%
        background-size: 100%
      .userPosition
        margin-left: 2em
      .ownerCheckBox
        margin-left: 2em
        padding-left: 1em
        label
          display: inline-flex
          vertical-align: middle
          background: transparent
          .graphic
            display: none
            + .labelText:after
              content: "not owner"
              opacity: 0.5
              text-decoration:line-through
            &:checked + .labelText:after
              content: "\2714"
              font-size: 150%
              padding-left: 20px
              font-family: 'Play'
            &:checked + .labelText:before
              content: "owner"
              font-family: 'Play'
