.wrapper
    background-color: #fff
    width: 90%
    margin: 100px auto 0 auto
    padding: 1em;
    h1
        color: #333
        width: 40%
        margin: 0 auto 20px auto
        text-align: center
    .inputContainer
        text-align: center
        input
            height: 25px
            width: 50%
            font-size: 1.2em
            padding: 0.4em
    .userList 
        list-style: none
        font-size: 1.5em
        vertical-align: top;
    .userName, .userPosition, .ownerCheckBox
        display: inline-block
        vertical-align: middle
        width: 25%
    .userName
        margin-left: 2em
    .ownerCheckBox
        margin-left: 2em
    .listItem + .listItem
        margin-top: 1em


    


