@import url(//fonts.googleapis.com/css?family=Russo+One)
@import url(//fonts.googleapis.com/css?family=Play)

@mixin border-radius($radius)
 -webkit-border-radius: $radius
 -moz-border-radius: $radius
  border-radius: $radius

@mixin box-shadow($left, $top, $blur, $color)
 -moz-box-shadow: $left $top $blur $color
 -webkit-box-shadow: $left $top $blur $color
 box-shadow: $left $top $blur $color

.wrapper

    +border-radius(5px)
    font-family: 'Play'
    background-color: #fff
    width: 90%
    margin: auto
    padding: 1em
    font-size: 18px
    h1
        color: #000
        width: 40%
        margin: 0 auto 20px auto
        text-align: center
        font-family: 'Russo One'
    .inputContainer
         padding: 20px 20px 20px 0px
         background: #ccc
         input
              height: 35px
              width: 80%
              font-size: 1.5em
              padding: 0.1em
              margin: 0px
    .searchSign
      background: orange
      border: 0
      color: #000
    .wrapperSearch
     margin-left: 15px


    .userList
         list-style: none
         padding: 40px


    .listItem
         display:flex
         +box-shadow(2px, 2px, 2px,	#bebebe)
         +border-radius(3px)
         transition: all .3s ease-in-out
         &:hover
            cursor: pointer
            background:	#E9F0F4
            transform: scale(1.03)
            +border-radius(5px)
         .userName, .userPosition,.ownerCheckBox, .userImage
              display: inline-flex
              vertical-align: middle
              width: 22%
              background-size: 100%

              label
              display: inline-flex
              vertical-align: middle
              .graphic
                display: none
                + .labelText:after
                  content: "not owner"
                  opacity: 0.5
                  text-decoration:line-through

                &:checked + .labelText:after
                  content: "\2714"
                  font-size: 150%
                  padding-left: 20px
                  font-family: 'Play'
                &:checked + .labelText:before
                  content: "owner"
                  font-family: 'Play'
