@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);

.wrapper
    background-color: #E3E3E7
    width: 90%
    margin: 50px auto 20px auto
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #CBCCD0;
    border: 1px solid #CBCCD0;
    border-radius: 10px;
    box-shadow: 0px 6px 6px -5px #333;
    h1
        color: #C6C9CD
        width: 100%
        margin: 0 auto 20px auto
        height: 70px;
        // text-align: left;
        // vertical-align: middle;
        display: flex;
        justify-content: left;
        align-items: center;
        border-radius: 10px 10px 0 0;
        // border-bottom: 1px solid #707C82;
        box-shadow: 0px 6px 6px -8px #C6D0DA;
        font-size: 1.1em
        font-weight: 700
        padding-left: 2em
        background-color: #FCFCFE
    .inputContainer
        text-align: center
        input
            height: 25px
            width: 50%
            font-size: 1em
            padding: 0.4em
    .userList 
        list-style: none
        font-size: 1em
        vertical-align: top;
        background-color: #E3E3E7;
    .userName, .userPosition, .ownerCheckBox
        display: inline-block
        vertical-align: middle
        width: 25%
    .userName
        margin-left: 2em
    .ownerCheckBox
        margin-left: 2em
    .listItem + .listItem
        margin-top: 1em


    


