@import "../common/styles/common";

.alert
    width: 700px
    padding: 20px
    border: 2px solid #fff
    margin: auto

    //background: $primary-color
    text-align: center
    //color: #fff
