#q-and-a
  background: white
  width: 80%

  .section-title
    border-radius: 3px
    padding: 10px

    background: #fff

    color: #7a92a3
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    text-align: center
    button
      position: absolute
      right: -10px

      border: 0
      border-radius: 2px
      padding: 0 5px

      height: 25px
      background: #505e6b

      color: #f3f6f8
      font-size: 13px
      font-weight: 100

  .outer-list > li,
  .inner-list > li
    margin-top: 15px

    list-style-type: none

