#q-and-a
  background: #fff
  width: 100%
  box-shadow: 0px 1px 15px -6px #777
  border-radius: 0 5px 0 0
  ul, li
    cursor: default

  button
    cursor: pointer
  .section-title
    border-radius: 0 5px 0 0
    // border-radius: 0
    // padding: 10px

    // background: #fff

    // color: #7a92a3
    // font-size: 18px
    // font-weight: 700
    // text-transform: uppercase
    // text-align: center
    // border-bottom: 1px solid #efefef
    // padding: 1rem
    border-left: 3px solid #8D97A4
    // padding-bottom: 0.5rem
    border-bottom: 1px solid #efefef
    height: 50px
    padding: 0 0 0 1.5rem
    display: flex
    align-items: center
    justify-content: space-between
    h4
      margin: 0
      display: flex
      align-items: center
      font-size: 1rem
      font-weight: 700
      height: 100%
      // border-left: 3px solid #8D97A4;
      // padding-left: 1.5rem
    button
      // position: absolute
      // right: 7px
      // top: 7px
      height: 100%

      border: 0
      border-radius: 0
      padding: 0 .5rem

      // height: 25px
      background: #505e6b
      background: #8D97A4
      color: #f3f6f8
      color: #fff
      border-radius: 0 5px 0 0
      font-size: .9rem
      font-weight: 700