#attachments
	.list
		display: flex
		flex-wrap: wrap
		justify-content: flex-start

	header
      position: relative
      padding-left: 1.2rem
      margin-bottom: 1rem
      font-size: .8rem
      &:before
          background: #03A9F4
          content: ""
          display: block
          width: 10px
          height: 10px
          top: 50%
          transform: translate(0, -50%)
          left: 0
          position: absolute
          border-radius: 50%
      h2
          margin: 0