#file-holder
	box-sizing: border-box
	padding: 5px
	margin: 5px
	border: 5px solid #f1eaea
	flex: 1 0 110px
	max-width: 120px
	.name
	  display: block
	  width: 100px
	  overflow: hidden
	  white-space: nowrap
	  text-overflow: ellipsis

		
		