.btnIcon
    background-color: transparent
    border: none
    cursor: pointer
    color: #555
    outline: none
    position: relative
    left: 10px
    &:hover
        color: #03A9F4
    &:hover,
    &:active
    outline: none