@import "../common/styles/common"

=forSmallScreens($media)
    @media (max-width: $media/16+em)
        @content

#root
  height: 100%

#homeContent
  background-color: #FEFEFE
  font-size: 0.7em
  +forSmallScreens(640)
    width: 100%

#sectionContent
  background-color: #f3f6f8
  padding-bottom: 100px