@import "../common/styles/common"

=forSmallScreens($media)
    @media (max-width: $media/16+em)
        @content




// #root
  // height: 100%

#homeContent
    width: 83.33%
    width: calc(100% - 250px)
    background-color: #FEFEFE
    font-size: 0.7rem
    +forSmallScreens(768)
        width: 100%

    .row
        display: flex
        width: 100%;
        justify-content: flex-start
        flex-flow: row wrap

    .homeContentHeader
        width: 100%
        // box-sizing: border-box
        font-family: 'Lato', sans-serif
        font-weight: 900
        font-size: 1.2em
        padding: 1.87rem 2.5rem
        color: #7A929D
        text-transform: uppercase
        border-bottom: 1px solid #CED1D6;
        height: 79px

    #sectionContent
        background-color: #f3f6f8
        padding-bottom: 100px

        .row
            display: flex
            width: 100%;
            justify-content: space-between
            flex-flow: row wrap
            padding: 0 2.5rem