.list-container
  display: flex
  height: 300px
  flex-wrap: wrap
  text-align: center
  align-content: center
  align-items: center
.list-item
  height: 30px
  margin-top: 5px
  width: 33.33%
  text-align: left
.visible
  visibility: visible
  opacity: 1
  transition: opacity 2s linear

.hidden
  visibility: hidden
  opacity: 0
  transition: visibility 0s 2s, opacity 2s linear