@import "../../common/styles/common"
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css)

.technologiesTab
  min-height: 500px
  background: white
  padding: 0
  color: black

.search__wrapper
  position: relative

.search__wrapper i
  position: absolute
  top: 5px
  right: 25px
  color: black

.search__input
  border-color: black

.search__input:focus
  border-color: orange
  outline: 0
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 128, 0,.6)
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 128, 0,.6)

.search__input:focus + i
  color: orange

.btn__wrapper button
  margin-left: 10px
  margin-right: 10px

.btn-black
  background: black
  border-color: black
  color: orange

.btn-black:hover
  background: orange
  border-color: orange
  color: black

.btn-orange:hover
  background: black
  border-color: black
  color: orange

.btn-orange
  background: orange
  border-color: orange
  color: black

.checked
  display: none

input[type='checkbox']
  display: none

.checkbox__wrapper
  position: relative
  font-size: 16px

.checkbox__wrapper
  line-height: 40px

.checkbox__wrapper i
  color: orange
  position: absolute
  top: 11px
  left: -25px

.techList
  padding-top: 30px
  margin-bottom: 30px
  min-height: 250px

.techList label
  padding-right: 40px
  font-size: 16px

.visible
  visibility: visible
  opacity: 1
  transition: opacity 2s linear

.hidden
  visibility: hidden
  opacity: 0
  transition: visibility 0s 2s, opacity 2s linear

.add__form__input
  border-color: black
  width: 66.6%

.add__form__input:focus
  border-color: orange
  outline: 0
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 128, 0,.6)
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 128, 0,.6)

.add__form__textarea
  border-color: black
  width: 66.6%
  resize: none
  height: 200px !important

.add__form__textarea:focus
  border-color: orange
  outline: 0
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 128, 0,.6)
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 128, 0,.6)

.clear
  clear: both

.technologiesnav
  border-bottom: 2px solid black

.form
  border-top: 2px solid black
  padding-top: 30px
  margin-bottom: 20px
.text
  font-size: 14px
  line-height: 32px
  font-style: italic


