@import "../../common/styles/common"

=border-box
  box-sizing: border-box

=default-btn
  vertical-align: baseline
  border: 1px solid transparent
  border-radius: 0
  background: #fff
  font-weight: bold
  border-bottom: 1px solid #d6d3d3
  z-index: 0
  &:focus
    outline: none
  label
    vertical-align: baseline
    word-break: break-all

=reset-input
  outline: none
  border: 0
  margin: 0
  padding: 0
  border-radius: 0
  box-shadow: none
  transition: none
  border-bottom: 1px solid #d6d3d3

=default-panel
  //border: 1px solid #eee
  border-color: transparent
  border: 0
  border-radius: 0
  box-shadow: none

.addForm
  background-color: white



#technologies


  .input-group,
  .myinput
    height: 36px
    width: 100%
    margin-left: 0

  .technologies-btn-remove
    display: inline-block
    +default-btn
    font-size: 14px
    font-weight: 500
    font-family: Lato
    border-radius: 2px
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
    //background: #f53d3d !important
    background: #fc5a5a
    //margin-left: 1px !important
    color: #fff

  .technologies-btn-remove:hover
    background-color: #db5151


  #delete_all_container,
  #delete_all
    height: 36px

  .technologies-tools
    display: flex
    align-items: center
    margin: 0

    .searchBlock
      flex-basis: 33%

    .technologiesControlBlock
      flex-basis: 67%

  .section-control
      display: flex

  .checkAndButton
    display: flex
    align-items: center
    flex-basis: 75%

  .checkAndButton > div
    width: auto !important
    margin-left: 15px

  #delete_all
    flex-basis: 50%

  .technologies-btn-remove
    width: 88px
    margin-left: 15px
    height: 36px

  .addButton
    flex-basis: 25%



  .editLabel
    margin-left: 5px
    margin-bottom: 10px

  .technologies-tool-bar
    padding: 20px
    background: white
    border-radius: 0
    box-shadow: none
  .technologies-tab
    padding-bottom: 40vh
    background-color: white !important
    +border-box
    form
      background-color: white
    margin: 0 auto
    font-family: "Open Sans"
    font-size: 16px
    font-weight: normal
    .technologies-tools
      +border-box

  .search-input-container

  .button-feature-remove
    vertical-align: baseline
    border: 1px solid transparent
    border-radius: 0px
    background: #fff
    font-weight: bold
    border-bottom: 1px solid #d6d3d3
    z-index: 0
    background: $primaryBlue
    color: #fff
  .button-feature-remove:focus
    background: $primaryBlue
  .button-feature-add
    vertical-align: baseline
    border: 1px solid transparent
    border-radius: 0px
    background: #fff
    font-weight: bold
    border-bottom: 1px solid #d6d3d3
    z-index: 0
    background: #C1CFD9
    color: #fff


  .list_container
    background-color: white
    min-height: 300px
    padding-left: 25px

  .list-item
    border-radius: 3px
    box-sizing: border-box
    color: #333
    padding: 0px 5px
    margin: 4px 4px 4px 4px
    background-color: #f3f6f8
    min-width: 150px
    height: 35px
    vertical-align: middle
    text-align: left
    display: inline-flex
    align-items: center
    flex: 1 0 calc(25% - 10px)
    position: relative
  .visible
    display: block
    opacity: 1
    transition: opacity 2s linear

  .hidden
    display: none
    opacity: 0
    transition: visibility 0s 2s, opacity 2s linear
  .hidden_block
    display: none
    width: 300px
    padding: 20px
    position: absolute
    top: 50px
    left: 5px
    text-align: left
    font-weight: 400
    color: #231f20
    -webkit-box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2)
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2)
    background: #f3f6f8
    z-index: 10
  .list-item:hover .hidden_block
    display: block
  .img_wrapper
    width: 40px
    height: 40px
    display: inline-block
  .img_wrapper img
    width: 100%
    display: inline-block
  .description_wrapper
    display: inline-block
    padding-left: 45px
  .error
    color: red
    font-style: italic

  .select-label,
  .select-all-label
    color: #656565
    font-family: 'Open Sans', arial
    font-size: 16px
    margin-top: 0
    vertical-align: middle


  .select-all-label
  //margin-top: -1px

  .select-label:hover,
  .select-all-label:hover
    color: #303030

  .select-all-label,.select-label
    user-select: none
  .list-container span
    background: none

  .technologies-tab label
    background-color: transparent
  .feature-tabs textarea
    border: none
    resize: none
    border-radius: 0
    min-height: 250px
    padding: 5px 1.5rem 0px 1.5rem

  .technologies-tab  textarea
    width: 100%

  .technologies-tab .form
    display: flex
    justify-content: center
    flex-wrap: wrap
    padding-top: 50px

  .inputField
    flex-basis: 66%
    margin-bottom: 15px

  .detail_picture_wrapper
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  .detail_picture_wrapper img
    margin: 15px 0
    max-width: 200px
    max-height: 200px
  .detail_picture_wrapper a
    color: red
    margin-bottom: 15px
  .list-item a
    color: #337ab7
    padding-top: 3px

@media all and (min-width: 768px)
  .panel-body
    padding-top: 20px
    padding-bottom: 20px

@media all and (max-width: 768px)
  .search-input-container
    margin-bottom: 1em






