#usersTimeLine
    height: 100%
    display: flex
    margin: 0px 15px
    flex-direction: column
    background-color: white
    width: calc(100% - 280px)

    .usersTimeLines-Header
        padding: 1px 10px
        border-bottom: 1px solid #efefef
        border-left: 3px solid #8D97A4
        h2
            font-size: 1rem
            font-weight: 700

    .mainContent
        padding: 10px
        height: calc(100% - 50px)

        .allUsers-Lines
            height: calc(100% - 80px)
            overflow-y: scroll

        .userLine
            margin: 5px
            display: flex
            align-items: center
            flex-direction: row

            .userInfo
                color: grey
                font-size: 14px
                flex-basis: 18%
                font-weight: 600
                text-align: left
                padding: 5px 10px

            .line:hover
                span
                    display: block

            .line
                display: flex
                cursor: help
                justify-content: space-between
                background-color: cadetBlue
                border-radius: 1px
                height: 7px

                span
                    display: none

    .dataLine
        display: flex
        padding-left: 18%
        margin-top: 15px
        position: relative
        flex-direction: column
        justify-content: flex-end

        .dataLine-line
            height: 20px
            flex-basis: 82%
            background-color: #739baa
            border-left: 2px solid #596068
            border-right: 2px solid #596068

        .timeOnLine
            display: flex
            justify-content: space-between

            label
                color: #596068
                font-size: 14px
                padding: 4px 0px
                font-weight: 700
                margin: 8px 0px 20px 0px

        .popover
            z-index: 10
            cursor: help
            color: white
            display: none
            font-size: 14px
            font-weight: 600
            padding: 6px 15px
            border-radius: 5px
            position: absolute
            text-align: center
            background-color: rgba(73,81,88,0.9)