@import "../common/styles/common"

=forSmallScreens($media)
    @media (max-width: $media/16+em)
        @content

#adminContent
  font-size: 0.7em
  background-color: #f3f6f8
  width: 100%

  .row
    display: flex
    width: 100%;
    justify-content: space-between
    flex-flow: row wrap
    padding: 6rem 0 0


  =forSmallScreens($media)
    @media (max-width: $media/16+em)
      @content

  .main-container
      height: 100%

  .adminContentHeader
      width: 100%
      box-sizing: border-box
      font-family: "Lato", sans-serif
      font-weight: 900
      font-size: 1.2em
      padding: 30px 2.5em
      color: #7A929d
      text-transform: uppercase
      background-color: #FEFEFE
      border-bottom: 1px solid #CED1D6
      height: 79px





  .tab-bar
      background: none
      border-bottom: 1px solid #CED1D6
      padding: 0 5.6rem
      width: 100%
      margin: 0


  .tab-bar li
      display: inline-block
      background: none

  .tab-bar li + li
      margin-left: 2.81em

  .tab-bar a
      color: #79919D
      font-size: 0.75rem
      font-weight: 700
      text-transform: uppercase
      // transition:  .3s
      font-family: 'Lato', sans-serif
      transition: color .3s
      &:hover
          color: #263238

  .tab-bar .admin-nav-item-active
      // border-bottom: 3px solid #03A9F4
      color: #263238
      box-shadow: inset 0 -3px 0 #03A9F4
      transition: box-shadow .3s
      padding-bottom: 1rem

  .FaCog
    margin-right: 9px
    vertical-align: middle

  .textForIcon
    vertical-align: middle



  // .adminPage
  // 	//margin: 0 auto
  // 	//text-align: center
  // 	//display: inline-block
  // 	margin: 0

  .tabs
      //color: dodgerblue
      //text-align: center
      //margin-bottom: 10px
      //display: flex
      //justify-content: space-between
      //align-items: center
      //align-content: center

  .tab-item
      //flex: 1
      //text-align: center
      //background-color: #ce6d9f
      //padding: 5px


  // .tab
  // 	display: inline-block
  // 	padding: 10px
  // 	background: dodgerblue
  // 	width: auto


  .tabs-grid



  // .tab-holder
  // 	display: block


h3
    background-color: #fff
    padding: 0
    margin: 0


.redux-toastr [class^="icon-"], [class*=" icon-"]
	display: block
.redux-toastr .confirm-holder .confirm button:nth-child(2)
	background: #F97E76
.redux-toastr .confirm-holder .confirm button:nth-child(2) p
	color: white


