@import "../common/styles/common"

=forSmallScreens($media)
    @media (max-width: $media/16+em)
        @content



#adminContent
    width: calc(100% - 250px)
    font-size: 0.7rem
    background-color: #f3f6f8
    +forSmallScreens(768)
        width: 100%


    .row
        display: flex
        width: 100%;
        justify-content: flex-start
        flex-flow: row wrap

        .adminContentHeader
            width: 100%
            box-sizing: border-box
            font-family: "Lato", sans-serif
            font-weight: 900
            font-size: 1.2em
            padding: 30px 2.5em
            color: #7A929d
            text-transform: uppercase
            background-color: #FEFEFE
            border-bottom: 1px solid #CED1D6
            height: 79px

    span
        vertical-align: middle
        padding-left: 1em

    .heading
        font-family: "Lato", sans-serif
        color: #273339
        display: flex
        padding: 4.56rem 7.18rem 2.2rem
        width: 100%

        color: #fff





#admin-section-content
        background-color: #f3f6f8
        padding-bottom: 100px

        .row
            display: flex
            width: 100%;
            justify-content: space-between
            flex-flow: row wrap
            padding: 0
        .tab-bar
            background: none
            border-bottom: 1px solid #CED1D6
            padding: 4.4rem 2.5rem 0
            width: 100%
            box-sizing: border-box

        .tab-bar li
            display: inline-block
            background: none

        .tab-bar li + li
            margin-left: 2.81em

        .tab-bar a
            color: #79919D
            font-size: 0.75rem
            font-weight: 700
            text-transform: uppercase
            transition:  .3s
            font-family: 'Lato', sans-serif
            transition: color .3s
            padding-bottom: 0.8rem
            &:hover
                color: #263238

        .tab-bar .admin-nav-item-active
            border-bottom: 2px solid #03A9F4
            color: #263238
            box-shadow: inset 0 -3px 0 #03A9F4
            transition: box-shadow .3s

        .adminPage
       	    margin: 0 auto
       	    text-align: center
       	    display: inline-block
       	    margin: 0

        .tabs
            color: dodgerblue
            text-align: center
            margin-bottom: 10px
            display: flex
            justify-content: space-between
            align-items: center
            align-content: center

        .tab-item
            flex: 1
            text-align: center
            background-color: #ce6d9f
            padding: 5px


        .tab
       	    display: inline-block
       	    padding: 10px
       	    background: dodgerblue
       	    width: auto



        .tab-holder


        .tab-bar
            border-bottom: 1px solid #D8D0D0

            margin: 1.25rem 0 0
            width: 100%


        .tab-bar:first-child
            //margin-left: 2px !important

        .tab-item
            //margin-left: 0px !important
            //padding: 20px 0px !important


            //.tab-bar > li:nth-child(n)
            //border-right: 2px solid #ededed

            //.tab-bar > li:last-child
                //border-right: none




        .tab-bar>li
          //margin-left: -1px !important

        .tab-bar>li>a
          //border-radius: 0 !important
          //color: #fff !important
          //background-color: #ce6d9f
          //background-color: #337ab7


        .tab-bar>li>a:hover
          //text-decoration: none
          //background-color: #337ab7

        .tab-bar>.active>a.focus
          //background-color: #efefef !important

        .tab-bar>li.active>a,
        .tab-bar>li.active>a:focus,
        .tab-bar>li.active>a:hover
            //color: #656565 !important
            //background-color: #efefef !important







